body{display: flex; flex-direction: column}
main{display: flex;flex-direction: row;flex: auto}
aside{flex: 1;overflow-y: auto}
article{flex: 2;overflow-y: auto}
.resized -image{
    width: 300px;
    height: 200px;
}